<%= form_for(@user, url: {action: "update"}, method: "put", html: { class: 'form' } ) do |f| %>
        <div class="panel-body">
          <% if @user.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @user.errors.messages.each do |key, messages| %>
                  <li><%= key %> &quot;<%= @user.errors&.details[key]&.first&.[](:value) %>&quot; <%= messages.join(' and ') %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          editing user <%= @user.email %><br/>

          <%= f.text_field :email, hint: '' %><br/>
  
          <%= f.text_field :password, hint: 'Only if creating or changing' %>

          <%= f.submit  %>
          <%= link_to 'Cancel', admin_users_path, class: 'btn btn-link action-cancel' %>
        </div>
      <% end %><div class="form-inputs">  
</div>

