<%#
Copyright 2011-2018, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>


<%= form_for(@user, url: {action: "update"}, method: "put", html: { class: 'form' } ) do |f| %>
        <div class="panel-body">
          <% if @user.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @user.errors.messages.each do |key, messages| %>
                  <li><%= key %> &quot;<%= @user.errors&.details[key]&.first&.[](:value) %>&quot; <%= messages.join(' and ') %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          editing user <%= @user.email %><br/>

          <%= f.text_field :email, hint: '' %><br/>
  
          <%= f.text_field :password, hint: 'Only if creating or changing' %>

          <%= f.submit  %>
          <%= link_to 'Cancel', admin_users_path, class: 'btn btn-link action-cancel' %>
        </div>
      <% end %><div class="form-inputs">  
</div>

