<h2><span class="fa fa-user"></span> <%= t('.title') %></h2>

<div class="panel panel-default users-invite">
  <div class="panel-heading">
      <%= t('.invite_users') %>
  </div>

  <div class="panel-body">
    <%# user_invitation_path is provided by devise_invitable %>
    <%#= simple_form_for :account,  url: main_app.user_invitation_path, html: { class: 'form-inline pull-left' } do |f| %>
      <div class="form-group">
        <%# f.label :admin_emails, class: "control-label" %>
        <%# Use input_field to support multiple :admin_emails fields that become an array of values %>
        <%# f.input_field :admin_emails, multiple: true, class: "form-control", value: "" %>
        <%# Add all existing admin emails as hidden inputs %>
        <%# current_account.admin_emails.each do |email| %>
          <%# f.input_field :admin_emails, multiple: true, hidden: true, value: email %>
        <%# end %>
      </div>
      <%# f.submit t('.add'), class: 'btn btn-primary' %>
    <%# end %>
  </div>
</div>


<div class="panel panel-default users-listing">
  <div class="panel-heading">
      <%= t('.describe_users_html', count: @presenter.user_count) %>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table id="users-table" class="table table-striped datatable">
        <thead>
          <tr>
            <th></th>
            <th><%= t('.id_label') %></th>
            <th><%= t('.role_label') %></th>
            <th><%= t('.access_label') %></th>
            <th><%= t('.status_label') %></th>
            <th><%= t('.action_label') %></th>
          </tr>
        </thead>
        <tbody>
          <% @presenter.users.each do |user| %>
            <tr>
              <td><%= link_to edit_admin_user_path(user) do %>
                    <%= image_tag(user.avatar.url(:thumb), width: 30) if user.respond_to?(:avatar) && user.avatar.file %>
                  <% end %>
              </td>
              <td><%= link_to user.email, edit_admin_user_path(user) %></td>
              <td><% roles = @presenter.user_roles(user) %>
                  <ul><% roles.each do |role| %>
                    <li><%= role %></li>
                    <% end %>
                  </ul>
              </td>
              <td>
                <%# in the case that a user is created who never signs in, this is necessary %>
                <relative-time datetime="<%= @presenter.last_accessed(user).getutc.iso8601 %>" title="<%= @presenter.last_accessed(user).to_formatted_s(:standard) %>">
                  <%= @presenter.last_accessed(user).to_formatted_s(:long_ordinal) %>
                </relative-time>
              </td>
              <td>
                <td class="col-md-2">
                  <%= link_to t('.edit'), edit_admin_user_path(user) %>&nbsp;|&nbsp; 
                  <%= link_to t('.become'), impersonate_admin_user_path(user.id), method: :post %>&nbsp;|&nbsp; 
                  <%= link_to t('.delete'), admin_user_path(user), class: 'btn btn-danger btn-xs action-delete', method: :delete, data: { confirm: t('.destroy.confirmation', user: user.email) } %>
                </td>
                 
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $(document).ready( function () {
      $('#users-table').DataTable();
    });
  </script>
<% end %>
